# Path to your oh-my-zsh installation.
# export ZSH={{ .chezmoi.homedir }}/.oh-my-zsh
export ZSH="$(antibody home)/https-COLON--SLASH--SLASH-github.com-SLASH-robbyrussell-SLASH-oh-my-zsh"

# Set name of the theme to load.
# Look in ~/.oh-my-zsh/themes/
# Optionally, if you set this to "random", it'll load a random theme each
# time that oh-my-zsh is loaded.
# `spaceship` theme installled directly, so var is empty
ZSH_THEME=""
SPACESHIP_TIME_SHOW=true
SPACESHIP_TIME_FORMAT='%D %T'
SPACESHIP_TIME_PREFIX=''
SPACESHIP_PROMPT_DEFAULT_PREFIX='| '
SPACESHIP_GIT_STATUS_COLOR='green'
SPACESHIP_PROMPT_ORDER=(
  host          # Hostname section
  dir           # Current directory section
  git           # Git section (git_branch + git_status)
  hg            # Mercurial section (hg_branch  + hg_status)
  package       # Package version
  node          # Node.js section
  ruby          # Ruby section
  xcode         # Xcode section
  swift         # Swift section
  rust          # Rust section
  line_sep      # Line break
  time          # Time stamps section
  vi_mode       # Vi-mode indicator
  jobs          # Background jobs indicator
  exit_code     # Exit code section
  char          # Prompt character
)

DISABLE_AUTO_UPDATE="true"
# ENABLE_CORRECTION="true"
# ZSH_CUSTOM=/path/to/new-custom-folder

{{ if eq .chezmoi.os "linux" -}}
plugins=(git compleat docker heroku jira gulp node npm sudo ssh-agent ruby rvm vi-mode)

# User configuration
sh $HOME/projects/notes/scripts/show_focus.sh
source $HOME/projects/pfa-cli/aliases.sh
{{ else if eq .chezmoi.os "darwin" -}}
plugins=(git osx brew compleat docker heroku jira gulp node npm sudo ssh-agent ruby rvm vi-mode)

# User configuration
sh ~/Projects/notes/scripts/show_focus.sh
source ~/Projects/pfa-cli/aliases.sh
{{ end -}}

source ~/.zsh_plugins.sh
# source $ZSH/oh-my-zsh.sh

source $HOME/.scripts/variables.sh
source $HOME/.scripts/aliases.sh
source $HOME/.rvm/scripts/rvm
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
. /usr/local/etc/profile.d/z.sh

